<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" id="createProfileForm" action="/api/profile/edit">
                    <input type="hidden" name="id" value="<%= profile.id %>">
                    <div>
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            name="name" 
                            placeholder="Input profile name" 
                            class="form-control"
                            value="<%= profile.name %>">

                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                    <a href="/" class="btn btn-warning">Cancel</a>
                </form>

    </div>



<%- include('../partials/footer') %>