<%- include('../partials/header') %>
<div class="container mt-5">

    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phones</th>
                <th>Create Date</th>
                <th>Last Update</th>
                <th>Action</th>
            </tr>
            <% profiles.forEach(p=> { %>
            <tr>
                <td><%= p.id %></td>
                <td><%= p.name %></td>
                <td>
                    <% p.Phones.forEach(phone => { %>
                        <span class="badge <%= phone.isActive ? 'bg-primary' : 'bg-secondary' %>"><%= phone.data %></span>
                    <% }) %>
                </td>
                <td><%= p.createdAt %></td>
                <td><%= p.updatedAt %></td>
                <td>
                    <a href="/show/<%= p.id %>" class="btn btn-warning">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="/edit/<%= p.id %>" class="btn btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="/api/profile/delete/<%= p.id %>" class="btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>

</div>



<%- include('../partials/footer') %>