<%- include('../partials/header') %>
<div class="container mt-5">

    <div>
        <a class="btn btn-warning" href="/show/<%= profile.id %>/phone">Add Phone</a>
        <table class="table table-hover table-striped">
            <tr>
                <td>ID</td>
                <td><%= profile.id %></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= profile.name %></td>
            </tr>
            <tr>
                <td>Phones</td>
                <td>
                    <% profile.Phones.forEach(phone => { %>
                        <a href="#" class="btn <%= phone.isActive ? 'btn-primary' : 'btn-secondary' %>">
                            <%= phone.data %>
                        </a>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td>Create Date</td>
                <td><%= profile.createdAt %></td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td><%= profile.updatedAt %></td>
            </tr>
        </table>
    </div>

</div>



<%- include('../partials/footer') %>